body{
  background-color: lightblue;
}
td {
  height: 22px;
  width: 22px;
  background-color: darkgrey;
  border: none;
  padding: 0;
  margin: 0;
  border: 1px solid white;
}

#content {
  text-align: center;
}

#innerDiv {
  margin: auto;
  width: 30%;
  border: 3px solid black;
  background-color: white;
  padding-bottom: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 20px;

}

table {
  margin: auto;
  padding-bottom: 20px;
  border-collapse: collapse;
}

button {
  margin-bottom: 10px;
}

